In [2]:
import pandas as pd
import sqlite3
db_file = 'sqlite_db_pythonsqlite.db'
conn = sqlite3.connect(db_file)

In [3]:
query1 = """
SELECT name FROM Facilities
WHERE membercost > 0.0;
"""
pd.read_sql_query(query1, conn)

DatabaseError: Execution failed on sql '
SELECT name FROM Facilities
WHERE membercost > 0.0;
': no such table: Facilities

In [ ]:
query2 = """
SELECT COUNT(name) AS No_Charge 
FROM Facilities
WHERE membercost = 0.0
"""
pd.read_sql_query(query2, conn)