In [18]:
# Load each dataset
import pandas as pd
import os

# Define file paths
#file_path = r"C:\Users\samia\OneDrive\Documents\GitHub\springboard\Project Proposal\bank-additional\bank-additional-full.csv"
#file_path1 = r"C:\Users\samia\OneDrive\Documents\GitHub\springboard\Project Proposal\bank-marketing\bank-additional\bank-additional.csv"
file_path = r"C:\Users\samia\OneDrive\Documents\GitHub\springboard\Project Proposal\bank+marketing\bank-additional\bank-additional\bank-additional-full.csv"
file_path1=r"C:\Users\samia\OneDrive\Documents\GitHub\springboard\Project Proposal\bank+marketing\bank-additional\bank-additional\bank-additional.csv"
# Check if files exist
print("Does the full dataset file exist?", os.path.exists(file_path))
print("Does the additional dataset file exist?", os.path.exists(file_path1))

# Load datasets if they exist
if os.path.exists(file_path):
    bank_additional_full = pd.read_csv(file_path)
else:
    print(f"File not found: {file_path}")

if os.path.exists(file_path1):
    bank_full = pd.read_csv(file_path1)
else:
    print(f"File not found: {file_path1}")

# Check the data from the first dataset
if 'bank_additional_full' in locals():
    print(bank_additional_full.head())

Does the full dataset file exist? True
Does the additional dataset file exist? True
  age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0  56;"housemaid";"married";"basic.4y";"no";"no";...
1  57;"services";"married";"high.school";"unknown...
2  37;"services";"married";"high.school";"no";"ye...
3  40;"admin.";"married";"basic.6y";"no";"no";"no...
4  56;"services";"married";"high.school";"no";"no...

In [13]:
print(bank_additional_full.columns)
print(bank_full.columns)


# Example of defining the variable and then printing columns
#bank_additional_full = pd.read_csv("path_to_your_data.csv")  # Replace with the correct path or data source
print(bank_additional_full.columns)

Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')
Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')
Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')

In [14]:
combined_data = pd.concat([bank_additional_full, bank_full], ignore_index=True)

In [15]:
# Merge on a common key, assuming 'client_id' is the shared column
#merged_data = pd.merge(bank_additional_full, bank_full, on='client_id', how='inner')
#import pandas as pd
# Assuming you have already loaded the DataFrames as bank_additional_full and bank_full

# Check the columns in each DataFrame
print("Columns in bank_additional_full:", bank_additional_full.columns)
print("Columns in bank_full:", bank_full.columns)

# Strip spaces from column names
bank_additional_full.columns = bank_additional_full.columns.str.strip()
bank_full.columns = bank_full.columns.str.strip()

# Re-check the columns after stripping
print("Updated columns in bank_additional_full:", bank_additional_full.columns)
print("Updated columns in bank_full:", bank_full.columns)

# Now attempt to merge on the correct column
try:
    merged_data = pd.merge(bank_additional_full, bank_full, on='client_id', how='inner')
    print("Merge successful.")
except KeyError as e:
    print("Merge failed:", e)

Columns in bank_additional_full: Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')
Columns in bank_full: Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')
Updated columns in bank_additional_full: Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')
Updated columns in bank_full: Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')
Merge failed: 'client_id'

In [16]:
# Check the shape of the combined dataset
print(combined_data.shape)

# Preview the combined dataset
combined_data.head()

(45307, 1)

  age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0  56;"housemaid";"married";"basic.4y";"no";"no";...
1  57;"services";"married";"high.school";"unknown...
2  37;"services";"married";"high.school";"no";"ye...
3  40;"admin.";"married";"basic.6y";"no";"no";"no...
4  56;"services";"married";"high.school";"no";"no...

In [17]:
# Check for missing values
print(combined_data.isnull().sum())

# Remove duplicates, if needed
combined_data.drop_duplicates(inplace=True)

age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"    0
dtype: int64